<div style="text-align:center">
  <h1>Data</h1>
</div>
<h2>Here are the employees created so far: </h2>
<ul>
  <li *ngFor="let employee of employeesList">
    {{employee.name}}
  </li>
</ul>
<h2>Here are the transactions created so far: </h2>
<ul>
  <li *ngFor="let transaction of transactionsList">
    {{transaction.name}}
  </li>
</ul>
<h2>Here are the orders created so far: </h2>
<ul>
  <li *ngFor="let order of ordersList">
    <h1>{{order.id}}</h1><h2>{{order.employee.name}}</h2>
  </li>
</ul>